.container{
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
}

.container:before{

  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  width: 105%;
  height: 105%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg');

  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

body{
margin: 0;
}

nav{
  float: left;
  background-color: #4D0011;
  height: 100vh;
  color: #fff;

}

ul{
  padding: 0;
}

nav li{
  padding: 0 1em 0 1em;
  list-style: none;
}

nav img{
  width: 3em;
  margin: 2em 0 2em 0;
}

nav li:hover, li:active{
  background-color: #FF6234;
  color: white;
}

.item-list-container{
  height: 75vh;
  width: 40%;
  margin-top: 1em;
  margin-left: 1.5em;
  float: left;
  font-size: 1em;
}

.sorting-options{
  background-color: #750019;
  padding: 1em 0 1em 1em;
  color: white;
}

.search{
  fill: #5af600;
  width: 1.2em;
  margin:0 0.5em 0 0.5em;
}

#search{
  border: none;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);

  width: 65%;
  font-size: 1.3em;
  margin-bottom: 1em;
}

input[type=text]:focus{
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  outline-color: rgba(255, 255, 255, 1);
}

#item-list{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
  height: inherit;

  overflow-y: scroll;
  overflow-x: hidden;

  border: solid;
  border-width: thin;
  border-right: none;
  border-radius: 0.5em;
  border-color:rgba(191, 191, 191, 0.5);

}
#item-list li{
  list-style: none;
  display: inline-block;
}

#item-list img{
  border: thin;
  border-radius: 1em;
  margin: 0.2em;
}

.item-set-container{
  margin-top:1em;
  margin-left: 2em;
  padding-top: 1.5em;

  border: solid;
  border-color:rgba(191, 191, 191, 0.5);
  border-radius: 0.2em;
  width: 45%;
  min-height: 12.5em;
  float: left;
}

.block{
  min-height: 6.25em;
  border: solid;
  border-radius: 0.1em;
  border-color:rgba(191, 191, 191, 0.5);
  width: 80%;
  margin: 0 auto;
  /*margin: 0 2em 0 2em;*/
}

button{
  display: block;
  height: 50px;
  border: solid;
  border-radius: .3em;
  border-width: thin;

  color: #fff;
  width: 33%;
  margin: 0 auto;
  background-color: rgba(255, 138, 0, 0);
}

button:hover{
  background-color: #5ecfde;
  color: white;
}
