$red:  #ff0000;
$white:  #ffffff;
$gray:  #808080;
$pink: #ffcbdb;
$brown: #964b00;
$yellow:#ffff00;
$orange:#ff7f00;
$green: #00ff00;
$cyan:  #00ffff;
$blue:  #0000ff;
$violet:#7f00ff;
$black: #000000;
$duke-blue:  #001a57;
$blue-gray:  #6699cc;
$main-green: #00647d;
$alice-blue: #f0f8ff;
$ash-gray:#b2beb5;

$black-half-transparent: rgba(0, 0, 0, 0.5);

$default-color: $white !default;
